:root {
    --background: #f8f8f8;
    --dark: #303032;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}
.box {
    position: relative;
    background: var(--dark);
    border: 0.15rem solid var(--dark);
    width: 8rem;
    height: 8rem;
    outline: 0;
    overflow: hidden;
}
.box::before {
    content: "M";
    font-family: Montez, cursive;
    font-size: 3.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
}
.box::after {
    content: "";
    position: absolute;
    left: -50%;
    bottom: -50%;
    height: 200%;
    width: 200%;
    background: var(--background);
    border-radius: 45%;
    animation: spin 5s ease-in-out infinite;
}
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-100%) rotate(500deg);
    }
}